# Play 2: Configure the ArubaOS-Switch interface
- name: Configure Aruba Switch Port Based on Device Type
  hosts: dynamic_switches
  gather_facts: false
  connection: network_cli
  collections:
    - ansible.netcommon
    - community.network

  vars:
    ansible_network_os: community.network.aruba
    cleanup_strategy: wipe   # wipe | safe

  tasks:
    - name: Debug (switch/port/input)
      debug:
        msg:
          - "Switch: {{ inventory_hostname }}"
          - "Port: {{ ansible_port_number }}"
          - "Interface Description: {{ interface_description }}"
          - "Primary Device Type: {{ ansible_device_type }}"
          - "Second Device Type: {{ ansible_second_device_type }}"

    ###########################################################################
    # CASE 1: Phone only
    ###########################################################################
    - name: CASE 1 | Read interface config
      ansible.netcommon.cli_command:
        command: "show running-config interface {{ ansible_port_number }}"
      register: c1_iface_cmd
      when: ansible_device_type == "phone"

    - name: CASE 1 | Parse VLANs
      set_fact:
        c1_text: "{{ c1_iface_cmd.stdout | lower }}"
        c1_old_untagged: "{{ c1_iface_cmd.stdout | regex_findall('untagged vlan (\\d+)') }}"
        c1_old_tagged: "{{ c1_iface_cmd.stdout | regex_findall('tagged vlan (\\d+)') }}"
        c1_desired_untagged: []
        c1_desired_tagged: ["{{ vlan_mapping.phone }}"]
      when: ansible_device_type == "phone"

    - name: CASE 1 | Apply phone config
      community.network.aruba_config:
        parents: "interface {{ ansible_port_number }}"
        lines:
          - "name {{ interface_description | quote }}"
          - "tagged vlan {{ vlan_mapping.phone }}"
          - "speed-duplex auto"
          - "enable"
      when: ansible_device_type == "phone"

    ###########################################################################
    # CASE 2: Non-phone only
    ###########################################################################
    - name: CASE 2 | Read interface config
      ansible.netcommon.cli_command:
        command: "show running-config interface {{ ansible_port_number }}"
      register: c2_iface_cmd
      when:
        - ansible_device_type not in ["phone", "none"]
        - ansible_second_device_type == "none"

    - name: CASE 2 | Apply non-phone config
      community.network.aruba_config:
        parents: "interface {{ ansible_port_number }}"
        lines:
          - "name {{ interface_description | quote }}"
          - "untagged vlan {{ vlan_mapping[ansible_device_type] }}"
          - "speed-duplex auto"
          - "enable"
      when:
        - ansible_device_type not in ["phone", "none"]
        - ansible_second_device_type == "none"

    ###########################################################################
    # CASE 3: Device + Phone
    ###########################################################################
    - name: CASE 3 | Device + phone
      when: ansible_second_device_type == "phone"
      block:
        - community.network.aruba_config:
            parents: "interface {{ ansible_port_number }}"
            lines:
              - "name {{ interface_description | quote }}"
              - "untagged vlan {{ vlan_mapping[ansible_device_type] }}"
              - "tagged vlan {{ vlan_mapping.phone }}"
              - "speed-duplex auto"
              - "enable"

    ###########################################################################
    # CASE 4: None (disable)
    ###########################################################################
    - name: CASE 4 | Disable port
      when:
        - ansible_device_type == "none"
        - ansible_second_device_type == "none"
      block:
        - community.network.aruba_config:
            parents: "interface {{ ansible_port_number }}"
            lines:
              - "name {{ interface_description ~ '_disable' | quote }}"
              - "disable"

    ###########################################################################
    # SAVE CONFIG
    ###########################################################################
    - name: Save configuration
      ansible.netcommon.cli_command:
        command: "write memory"
